body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-attachment: fixed;
    content: "";
    backdrop-filter: blur(1vw);
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: -1;
}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

h1.mb-4 {
    color: #f0f0f0;
    font-size: 44px;
    text-shadow: 0px 5px 7px rgba(0, 0, 0, 1), 0 0 10px #000;
    white-space: nowrap;
    user-select: none;
}

.card {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0c0;
    border-radius: 50px;
    border: none;
    backdrop-filter: blur(2vw);
    z-index: 1;
}