body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2vw;
    color: #333;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30%;
    width: 30%;
    z-index: 1;
    border-radius: 2vw;
    background-color: #f0f0f070;
    padding: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    user-select: none;
    transition: backdrop-filter 0.3s ease;
    backdrop-filter: blur(1vw);
}

.tl {
    position: fixed; top: 0; left: 0; right: 50%; bottom: 50%;
    background-color: #f055f0;
}

.tr {
    position: fixed; top: 0; left: 50%; right: 0; bottom: 50%;
    background-color: #f0f055;
}

.br {
    position: fixed; top: 50%; left: 50%; right: 0; bottom: 0;
    background-color: #f0f0f0;
}

.bl {
    position: fixed; top: 50%; left: 0; right: 50%; bottom: 0;
    background-color: #2f234b;
}

#about {
    background-image: url('./assets/desk.jpg');
    background-position: 50% 50%;
}

#demos {
    background-image: url('./assets/ableton.png');
    background-position: 50% 50%;
}

#myMusic {
    background-image: url('./assets/awcover.jpg');
    background-position: 50% 50%;
}

#software {
    background-image: url('./assets/synth.png');
    background-position: 50% 80%;
}

a {
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 50%;
    height: 50%;
}

a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    transition: backdrop-filter 0.3s ease;
    backdrop-filter: blur(0.7vw);
}

a:hover::after {
    transition: backdrop-filter 0.3s ease;
    backdrop-filter: blur(0vw);
}

span {
    color: #f0f0f0;
    font-size: 44px;
    left: 50%;
    position: absolute;
    text-shadow: 0px 5px 7px rgba(0, 0, 0, 1), 0 0 10px #000;;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    pointer-events: none;
}